</div>
<footer>
  <footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> samplesite.com</a>
    </div>
  </footer>
</footer>
</body>

</html>