<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendors/bootstrap-4.3.1/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/custom/stylesheets/style.css">
</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
        </div>
    </div>
</body>

</html>